img {
  margin: 10px;
  border: 2px solid grey;
  border-radius: 6px;
  padding: 5px;
  width: 300px;
}

h1 {
	font-family: sans-serif;
	font-size:30px;
	margin: 10 30 0 30;
	color: #69585F;
	text-align: center;
	font-weight: bold;

}


p {
	font-family: sans-serif;
	font-size: 30px;
		color: #69585F;
}

body{
		direction:ltl;
		font-family: sans-serif;
		margin: 0;
	}

.header {
  padding: 0px;
  text-align: center;
  }

.tool {
  display: flex;
  background-color: #71686C;
}

	.tool a {
		color: #B8D8BA;
		padding: 24px 30px;
		text-decoration: none;
		text-align: center;
		font-size:20px;
	}

	.tool a:hover {
		background-color: #FAEBD7;
		color: #71686C;
	}

.rowpink {  
  display: flex;
  flex-wrap: wrap;
  background-color: #FAEBD7;
  padding: 20px;
}


.mainpink {
  flex: 100%;
  background-color: #FAEBD7;
  padding: 2px;
}


.rowgreen {  
  display: flex;
  flex-wrap: wrap;
  background-color: #B8D8BA;
  padding: 20px;
}

.maingreen {
  flex: 100%;
  background-color: #B8D8BA;
  padding: 2px;
}


.footer {
  color: #B8D8BA;
  padding: 20px;
  text-align: center;
  background-color: #71686C;
  font-size: 20px;
}

.footer a:hover {
	color: #B8D8BA;
	font-size: 30px;
}

.gallery {
  width: 160px;
 padding-left: 40px;
margin-top: 10px;
  margin-bottom: 1px;
  margin-right: 30px;
  margin-left: 50px;
	
  }

.gallery img {
  width: 100%;
  height: auto;
   }

.gallery img:hover {
width: 220px;
border: 10px solid grey;
}
.list {
font-size:20px;
}

.list a:hover {
	color:#333399;
	font-size:30px;
}
